html {
  width: 100vw;
}

main {
  width: 50vw;
  padding: 5%;
  margin: auto;
}

button {
  border: none;
  background: #d2d2d2;
  padding: 1%;
}

nav a {
  margin-right: 2%;
}

nav {
  margin: 3% 0% 3% 0%;
}

header {
  margin: 0% 0% 3% 0%;
  border-bottom: 2px solid;
}

a {
  text-decoration: none;
}

#about ul {
  line-height: 2rem;
}

a {
  color: teal;
}

a:hover {
  color: darkblue;
}

.small {
  font-size: small;
}

#youtube {
  color: red;
}

#youtube:hover {
  color: darkred;
}

.btn {
  color: white;
  font-size: 1rem;
  margin: 1% 4% 1% 4%;
}

.btn-primary {
  background-color: #397bff;
}

.btn-dark {
  background-color: #444c56;
}

.links {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: center;
}

@media (max-width: 1180px) {
  main {
    width: 90vw;
  }

  .links {
    width: 100%;
  }
}
