@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: white;
}

a {
  color: #23bb6a;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #1e1e1e;
  }
  a {
    color: #00f371;
  }
}
