.image-link {
  width: 33.3%;
}

.image-link img {
  display: block;
  transition: 0.5s;
  object-fit: cover;
  border-radius: 33.3%;
  margin: 3rem auto;
  animation: glowing 2s infinite alternate;
}

.image-link img:hover {
  transform: scale(1.1);
}

@keyframes glowing {
  from {
    filter: drop-shadow(0 0 5px #00ffd9cc);
  }
  to {
    filter: drop-shadow(0 0 10px #00ffd9cc);
  }
}
