.image-link {
  width: 33.3%;
  filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.8));
}

.image-link img {
  display: block;
  transition: 0.5s;
  object-fit: cover;
  border-radius: 33.3%;
  margin: 2rem auto;
}

.image-link img:hover {
  transform: scale(1.1);
  animation: glowing 1s infinite alternate;
}

@keyframes glowing {
  from {
    filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.8));
  }
  to {
    filter: drop-shadow(0 0 20px rgba(0, 255, 255, 1));
  }
}
